/*https://responsivedesign.is/patterns/calendar*/
.calendar {
    overflow: hidden;
}
.calendar a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}
.calendar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.calendar li {
    display: block;
    float: left;
    padding: 5px;
    box-sizing:border-box;
    margin-right: -1px;
    margin-bottom: -1px;
}
.calendar-header {
    overflow: hidden;
    padding: 25px 15px;
    background: #3498db;
    color: rgba(255,255,255, 0.75);
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}
.calendar-header li {
    width: 33.33%
}
.calendar-body {
    overflow: hidden;
    background: #eee;
}
.calendar-body li{
    width:14.37%;
}
.calendar-body .weekdays {
    overflow: hidden;
    background-color:#ddd;
}
.calendar-body ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    padding: 10px 6px;
    font-size: 13px;
    font-weight: 500;
    color: #777;
}
.calendar-body .days {
    overflow: hidden;
    padding: 3px;
}
.calendar-body .days li {
    border: 1px solid #fff;
    padding-bottom: 10%;
    font-size: 12px;
}
.calendar-body .days li:hover {
    background-color: #ddd;
}
.calendar-header a:hover {
    text-decoration: none;
    color: #fff;
}
.calendar-header .prev {
    text-align: left;
}
.calendar-header .next {
    text-align: right;;
}
.days .today {
    color: red;
}
.header {
    padding: 15px;
}
.salas {
    list-style-type: none;
    padding-left: 15px;
}
.salas li span {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
}
.days .btn-add {
    display: inline-block;
    background-color: rgba(255,255,255, 0.3);
    color: rgba(0,0,0, 0.3);
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 100%;
}
.days .btn-add:hover {
    background-color: rgba(255,255,255, 0.8);
    color: rgba(0,0,0, 0.8);
}
.modal-content {
    border-radius: 2px;
}
.text-center {
    text-align: center;
}
