/*https://responsivedesign.is/patterns/calendar*/
.calendar {
    overflow: hidden;
}
.calendar a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}
.calendar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.calendar li {
    display: block;
    float: left;
    padding: 5px;
    box-sizing:border-box;
    margin-right: -1px;
    margin-bottom: -1px;
}
.calendar-header {
    overflow: hidden;
    padding: 25px 15px;
    background: #3498db;
    color: rgba(255,255,255, 0.75);
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}
.calendar-header li {
    width: 33.33%
}
.calendar-body {
    overflow: hidden;
    background: #eee;
}
.calendar-body .days > li, .calendar-body .weekdays > li{
    width:14.37%;
}
.calendar-body .weekdays {
    overflow: hidden;
    background-color:#ddd;
}
.calendar-body ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    padding: 10px 6px;
    font-size: 13px;
    font-weight: 500;
    color: #777;
}
.calendar-body .days {
    overflow: hidden;
    padding: 3px;
}
.calendar-body .days > li {
    overflow: hidden;
    border: 1px solid #fff;
    padding-bottom: 1%;
    font-size: 13px;
}
.calendar-body .days li:hover {
    background-color: #ddd;
}
.calendar-header a:hover {
    text-decoration: none;
    color: #fff;
}
.calendar-header .prev {
    text-align: left;
}
.calendar-header .next {
    text-align: right;;
}
.days .today {
    color: red;
}
.header {
    padding: 15px;
}
.salas {
    list-style-type: none;
    padding-left: 15px;
}
.salas li span {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
}
.days .btn-add {
    display: inline-block;
    background-color: rgba(255,255,255, 0.2);
    color: rgba(0,0,0, 0.33);
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 100%;
    padding: 0px;
}
.days .btn-add:hover {
    background-color: rgba(255,255,255, 0.8);
    color: rgba(0,0,0, 0.8);
}
.text-center {
    text-align: center;
}
.btn-save {
    background-color: #e74c3c;
    color: rgba(255,255,255, 0.9);
    border-radius: 100%;
    font-size: 36px;
    font-weight: 500;
    padding-top: 1px;
    box-shadow: 1px 2px 4px rgba(0,0,0, 0.4);
}
.schedules {
    overflow-y: auto;
    height: 100px;
}
.event {
    font-size: 11px;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.75);
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin: 3px 0px;
}
.table td, .table th {
    border: none;
}
.modal-header{
    background: #3498db;
    color: rgba(255,255,255, 0.75);
}
.modal-content {
    border: none;
}
.evento-card {
    display: none;
}
.calendar a:hover {
    color: rgba(255, 255, 255, 1);
}
.wrapper {
    padding-top: 25px;
}
